<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Expressive</title>
		<link rel="stylesheet" href="styles/global-styles.css" />
		<link rel="stylesheet" href="styles/blog.css" />
	</head>
	<body>
		<header>
			<nav>
				<ul class="side-bar">
					<li class="menu-close-btn">
						<button onclick="hideSideBar()">
							<svg
								width="24"
								height="24"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill="white"
									d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
								/>
							</svg>
						</button>
					</li>
					<li><a href="/create"> Create </a></li>
					<li><a href="pages/about.html"> About </a></li>
					<li><a href="/blog"> Blog </a></li>
				</ul>
				<div class="nav-main-menu">
					<div class="logo">
						<h4><a href="http://localhost:3000/">Expressive </a></h4>
					</div>
					<ul class="main-bar">
						<li class="nav-item">
							<a href="pages/about.html"> About </a>
						</li>
						<li class="nav-item">
							<a href="http://localhost:3000/blog"> Blog </a>
						</li>
						<li class="nav-item">
							<a href="http://localhost:3000/create"> Create </a>
						</li>
					</ul>
					<button onclick="showSideBar()" class="menu-open-btn">
						<svg
							width="24"
							height="24"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill="currentColor"
								d="M3 4h18v2H3zm6 7h12v2H9zm-6 7h18v2H3z"
							/>
						</svg>
					</button>
				</div>
			</nav>
		</header>
	