/*CSS Reset*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

html {
	height: 100%;
}

body {
	width: 100vw;
	min-height: 100vh;
	padding: 4% 10%;
	font-size: 16px;

	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: inherit;
}
.nav-main-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 30%;
}
.main-bar {
	display: flex;
	justify-content: space-between;
}
.nav-item {
	height: 100%;
	height: 100%;
	margin-left: 20px;
	align-content: center;
}

li {
	flex: 1;
	/*  border:2px solid pink;  */
	list-style-type: none;
	text-align: right;
}

.side-bar li:not(:first-child) {
	text-align: center;
	margin-bottom: 2.5rem;
}

.side-bar li:first-child {
	height: 50px;
	align-content: center;
}
.side-bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
	background-color: #b5a0ea;
	width: 100%;
	max-width: 350px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 999;
	border-radius: 2% 0% 2% 50%;
	box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.4);
	display: none;
}

.show {
	display: block;
}

button {
	border: none;
	background: none;
	outline: none;
}

h1 {
	font-size: clamp(1.8rem, 2vw + 1rem, 2.986rem);

	font-weight: 600;
}

h2 {
	font-size: clamp(1.6rem, 1.6vw + 0.9rem, 2.488rem);
}

h3 {
	font-size: clamp(1.3rem, 1.4vw + 0.8rem, 2.074rem);
}
h4 {
	font-size: clamp(1.1rem, 1.2vw + 0.7rem, 1.728rem);
}
h5 {
	font-size: clamp(0.95rem, 1vw + 0.6rem, 1.44rem);
}
h6 {
	font-size: clamp(0.8rem, 0.8vw + 0.5rem, 1.1rem);
	font-weight: 600;
}
/* || large Screens */
#container {
	flex: 1;
	margin: 0 auto;
	position: relative;
	/* border: 2px solid green; */
}
.hero-section {
	margin-top: 8rem;
}

.hero-header {
	text-align: center;
}

.hero-section-img {
	height: 500px;
	width: 100%;
}

.hero-section-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* PUBLICATIONS SECTION */
#publications {
	width: 80%;
	margin: 0 auto;
	margin-top: 8rem;
}

#publications h5 {
	margin-bottom: 2rem;
}

.article {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.article-img-wrapper {
	width: 200px;
	height: 100px;
	border-radius: 8px;
}
.article-text {
	width: 60%;
}
.article-img-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	object-fit: cover;
}

.load-more-btn {
	align-self: center;
	width: 40%;
	margin: 0 auto;
	display: block;
	text-align: center;
	background-color: #b5a0ea;
	padding: 9px 18px;
	border-radius: 8px;
}

/* CATEGORIES SECTION */
#categories {
	margin-top: 8rem;
}

.categories-body {
	display: flex;
	justify-content: space-between;
}

.categories-body p {
	/* border: 2px solid red; */
	width: 50%;
}

.categories-link {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
}

.categories-link img {
	display: inline-block;
	margin-left: 5px;
}

hr {
	margin-top: 4rem;
	margin-bottom: 2rem;
}

/* FOOTER */
footer {
	display: flex;
	justify-content: space-between;
}

/* Colors/Backgrounds */

/*  */

@media (max-width: 992px) {
	body {
		line-height: 1.6;
	}
	.hero-section {
		margin-top: 4rem;
	}

	.main-bar {
		display: none;
	}
	.menu-open-btn {
		display: block;
		margin-left: auto;
	}
	nav {
		/* border: 2px solid; */
		display: flex;
		justify-content: space-between;
	}

	.side-bar li {
		font-size: 1.2rem;
	}

	#publications {
		width: 100%;
		margin: 0 auto;
		margin-top: 4rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 1.5rem;
	}

	#publications h5 {
		margin-bottom: 0rem;
	}
	.article {
		width: 83%;
		max-width: 600px;
		/* border: 2px solid; */
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		/* justify-content: space-between;
	margin-bottom: 2.5rem; */
	}

	.article-img-wrapper {
		width: 250px;
		height: 100px;
	}

	.article-text {
		width: 80%;
		text-wrap: pretty;
		/* border: 2px solid; */
	}

	.article-text:not(:first-child) {
		margin-top: 1rem;
	}
}

@media (min-width: 993px) {
	.menu-open-btn {
		display: none;
	}

	.side-bar {
		display: none;
	}
}

/* ||About us Page */
.about-us-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 8rem;
}

.about-us-container h1 {
	margin-top: 4rem;
}
